/* BEGIN CSS Reset */

body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%; }

body h1 {
  font-weight: normal;
  color: #222222;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em; }
  body h1 body h1 img {
    margin: 0; }

body h2 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  margin-bottom: 0.75em; }

body h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: 1em; }

body p {
  margin: 0 0 1.5em; }
  body p body p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  body p body p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

body a {
  text-decoration: underline;
  color: #000099; }
  body a body a:visited {
    color: #000066; }
  body a body a:focus {
    color: black; }
  body a body a:hover {
    color: black; }
  body a body a:active {
    color: #cc0099; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote blockquote:before, blockquote q:before, q blockquote:before, q q:before,
  blockquote blockquote:after, blockquote q:after, q blockquote:after, q q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

p {
  margin: 0 0 1.5em; }

a {
  text-decoration: underline;
  color: #000099; }
  a a:visited {
    color: #000066; }
  a a:focus {
    color: black; }
  a a:hover {
    color: black; }
  a a:active {
    color: #cc0099; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0 1.5em; }

ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

.clearfix {
  overflow: hidden;
  display: inline-block; }
  .clearfix .clearfix {
    display: block; }

/* END CSS Reset */

/* BEGIN ScreenSteps Template Default */
body div#wrapper {
  margin-top: 2em; }
body div#LessonContent {
  padding-bottom: 1em; }
  body div#LessonContent div {
    text-align: left; }
  body div#LessonContent div.lessonStep div.image {
    margin-bottom: 1em; }
    body div#LessonContent div.lessonStep div.image img {
      padding: 3px;
      border: 1px solid #ccc; }
    body div#LessonContent div.lessonStep div.image div.caption {
      padding: 5px; }
      body div#LessonContent div.lessonStep div.image div.caption a {
        font-size: 0.8em; }
  body div#LessonContent div.right {
    overflow: hidden;
    display: inline-block; }
    body div#LessonContent div.right {
      display: block; }
    body div#LessonContent div.right div.image {
      float: right;
      margin-left: 1em; }
      body div#LessonContent div.right div.image div.caption a {
        display: block;
        text-align: right; }
body div#TOC {
  padding: 1em 2em; }
  body div#TOC div.section h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em; }
  body div#TOC div.section div.description {
    font-size: 85%; }
body div#lessonNavigation {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  padding-bottom: 1px;}
  body div#lessonNavigation table td {
    width: 33%;
    padding: 0 2em; }
    body div#lessonNavigation table td.TOC {
      text-align: center;
      padding: 0; }

body.lucida {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif; }

body.helvetica {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

body.courier {
  font-family: "Courier New", Courier, mono; }

body.georgia {
  font-family: Georgia, "Times New Roman", Times, serif; }

body.trebuchet {
  font-family: "Trebuchet MS","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

/* END ScreenSteps Template Default */

/* BEGIN ScreenSteps Template Custom */
body {
  background-color: #0A0A0A; }
  body h1, body h2, body p, body td {
    color: #EBEBEB; }
  body a {
    color: #EACC00; }
    body a:visited {
      color: #EACC00; }
    body a:hover {
      color: #A9B8C0; }
  body div.LessonHeader, body div#header {
    background-color: #EBEBEB;
    padding: 1em;
    margin-bottom: 1em; }
    body div.LessonHeader h1, body div#header h1 {
      color: #191919;
      padding: 0;
      margin: 0; }
  body div#wrapper {
    width: 800px;
    margin: 2em auto; }
  body div.lessonStep h2.StepTitle {
    border-bottom: 1px dotted #eee; }

/* END ScreenSteps Template Custom */
