/* <html><head><meta name="robots" content="noindex"></head></html> */

.colname {
	text-align: left;
	background-color: #83fece;
	font-variant: small-caps;
	text-transform: capitalize;
}

.row {
	text-align: left;
	background-color: #edf8fe;
	font: 9pt "Courier New", Courier, mono;
}

#colname3 {
	width: 160px;
}

#colname4 {
	width: 109px;
}